@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

footer {
    clear: left;
    height: 60px;
    width: 100%;
    border-top: 1px solid #cccccc;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #484848;
    text-align: center;
}